.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;

}

.img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
}

.prem-tag {
    font-weight: bold;
    font-size: 23px;
}

.pr-tag {
    font-size: 23px;
}

.desc {
    height: 100px;
}

.price-tag {
    display: flex;
    justify-content: space-around;
}

.btn-class {
    display: flex;
    justify-content: space-around;
}