<div class="card">
    <img [src]="course.image" alt="Course Image" class="card-image">
    <div class="card-content">
        <h2 class="course-title">{{course.course_title}}</h2>
        <p class="author">{{course.author}}</p>
        <p class="duration">{{course.duration}}</p>
        <p class="type">{{course.type}}</p>
        <p class="price">{{course.price}}</p>
        <p class="description">{{course.description}}</p>
        <button [routerLink]="['/Courses']" class="btn btn-danger my-2">Back To Courses</button>
    </div>
</div>